<header>
    <nav class="header-nav">
        <a class="header-title" href="/">My Biblio</a>
        <ul>
           <li> <a href="/books"> Livres</a></li>
           <li> <a href="/books/new"> Ajouter Livre</a></li>
           <li> <a href="/authors"> Auteurs</a></li>
           <li> <a href="/authors/new"> Ajouter Auteur</a></li>
        </ul>
    </nav>
</header>